<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="chart-tab" data-bs-toggle="tab" href="#chartIcon" aria-controls="chart" role="tab" aria-selected="true"><i class="feather feather-bar-chart-2"></i> Biểu đồ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="table-tab" data-bs-toggle="tab" href="#tableIcon" aria-controls="table" role="tab" aria-selected="false"><i class="feather feather-grid"></i> Bảng biểu</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="chartIcon" aria-labelledby="chart-tab" role="tabpanel">
        <canvas class="chartjs" id="statistics-chart" data-height="750"></canvas>
    </div>
    <div class="tab-pane" id="tableIcon" aria-labelledby="table-tab" role="tabpanel">
        <div class="alert alert-primary my-25" role="alert">
            <div class="alert-body"><b><i class="feather feather-help-circle"></i> Hướng dẫn: </b>Nếu bạn chọn vào icon <i class="feather feather-plus-circle"></i> thì hệ thống sẽ hiển thị những môn học mà giảng viên đã dạy.</div>
        </div>
        <div class="card-datatable">
            <div class=" table-responsive">
                <table class="datatables-ajax table" id="tblStatistics">
                    <thead class="table-light">
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Mã giảng viên</th>
                            <th>Tên giảng viên</th>
                            <th>Số môn giảng dạy</th>
                            <th>Số giờ giảng</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="data-loader" data-type="@ViewData["type"]" value="@ViewData["value"]" />

<script src="~/assets/js/statistics/statistics.min.js"></script>