<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="homeIcon-tab" data-bs-toggle="tab" href="#homeIcon" aria-controls="home" role="tab" aria-selected="true"><i class="feather feather-bar-chart-2"></i> Biểu đồ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profileIcon-tab" data-bs-toggle="tab" href="#profileIcon" aria-controls="profile" role="tab" aria-selected="false"><i class="feather feather-grid"></i> Bảng biểu</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="homeIcon" aria-labelledby="homeIcon-tab" role="tabpanel">
        <canvas class="chartjs" id="statistics-chart" data-height="750"></canvas>
    </div>
    <div class="tab-pane" id="profileIcon" aria-labelledby="profileIcon-tab" role="tabpanel">
        <div class="alert alert-primary my-25" role="alert">
            <div class="alert-body"><b><i class="feather feather-help-circle"></i> Hướng dẫn:  </b>Hệ thống sẽ tự động tạo tất cả giảng viên vào hệ thống nếu bạn chọn <strong>"Import vào hệ thống"</strong>.</div>
        </div>
        <div class="card-datatable">
            <table class="datatables-ajax table table-responsive" id="tblErrorLecturers">
                <thead class="table-light">
                    <tr>
                        <th></th>
                        <th>Mã giảng viên</th>
                        <th>Tên giảng viên</th>
                        <th>Số giờ giảng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script src="~/assets/js/statistics/statistics.js"></script>