<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap">
                    <h4 class="card-title" id="lblCurriculums">Những giảng viên không import được</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="alert alert-primary my-25" role="alert">
                    <div class="alert-body"><b><i class="feather feather-help-circle"></i> Hướng dẫn: </b>Hệ thống sẽ tự động tạo tất cả giảng viên vào hệ thống nếu bạn chọn <strong>"Import vào hệ thống"</strong>.</div>
                </div>
                <div class="card-datatable">
                    <table class="datatables-ajax table table-responsive" id="tblCurriculums">
                        <thead class="table-light">
                            <tr>
                                <th></th>
                                <th>Mã học phần</th>
                                <th>Tên học phần</th>
                                <th>Số Tc</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/statistics/curriculum-statistics.js"></script>