@model TeachingAssignmentManagement.Models.VisitingLecturerStatisticsViewModel

<div class="card-datatable">
    <div class="table-responsive">
        <table class="datatables-ajax table" id="tblStatistics">
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th>Mã GVTG</th>
                    <th>Họ tên GVTG</th>
                    @foreach (var termId in Model.TermIds)
                    {
                        <th>@termId</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.VisitingLecturerStatisticsDTOs)
                {
                    <tr>
                        <td></td>
                        <td>@item.StaffId</td>
                        <td>@item.FullName</td>
                        @foreach (var termId in Model.TermIds)
                        {
                            var subjects = item.Subjects.Where(s => s.term_id == termId);
                            @*<td>@subjects.Select(s => s.name).ToString()</td>*@
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>