@model TeachingAssignmentManagement.Models.VisitingLecturerStatisticsViewModel

<div class="card-datatable">
    <div class="table-responsive">
        <table class="datatables-ajax table" id="tblStatistics">
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th>Mã GVTG</th>
                    <th>Họ tên GVTG</th>
                    @foreach (var termId in Model.TermIds)
                    {
                        <th>@termId</th>
                    }
                </tr>
            </thead>
        </table>
    </div>
</div>