@{
    ViewBag.Title = "Thống kê số giờ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper p-0">
        <div class="content-body">
            <!-- ChartJS section start -->
            <section>
                <!-- Line Chart Starts-->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap">
                                    <h4 class="card-title">@ViewBag.Title</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mb-1">
                                        <label class="form-label font-small-4" for="unit">Thống kê theo: </label>
                                        <select class="form-select" id="unit" name="unit">
                                            <option>Học kỳ</option>
                                            <option>Ngành</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label class="form-label font-small-4" for="term">Học kỳ: </label>
                                        @Html.DropDownList("term", null, "---- Chọn học kỳ ----", htmlAttributes: new { @class = "select2 form-select" })
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label class="form-label font-small-4" for="year">Năm học: </label>
                                        @Html.DropDownList("year", null, "---- Chọn năm học ----", htmlAttributes: new { @class = "select2 form-select" })
                                    </div>
                                </div>
                                <canvas class="chartjs" id="statistics-chart" data-height="450"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Line Chart Ends-->
            </section>
            <!-- ChartJS section end -->
        </div>
    </div>
</div>

@section scripts{
    <script src="~/app-assets/vendors/js/charts/chart.min.js"></script>
    <script src="~/app-assets/vendors/js/charts/chartjs-plugin-datalabels.min.js"></script>
    <script src="~/assets/js/statistics/statistics.js"></script>
}