@model TeachingAssignmentManagement.Models.term

@{
    Layout = null;
}

@using (Html.BeginForm("Create", "Term", FormMethod.Post, new { onsubmit = "return submitForm(this)", id = "term-form" }))
{
    <div class="mb-1">
        <label class="form-label font-small-4" for="id">Học kỳ: </label>
        <input type="number" class="form-control" id="id" name="id" placeholder="Nhập học kỳ (VD: 221)" aria-label="Nhập học kỳ (VD: 221)" />
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="start_year">Năm bắt đầu: </label>
        @Html.DropDownList("start_year", null, htmlAttributes: new { @class = "select2 form-select", @aria_label = "Chọn năm bắt đầu" })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="end_year">Năm kết thúc: </label>
        @Html.DropDownList("end_year", null, htmlAttributes: new { @class = "select2 form-select", @aria_label = "Chọn năm kết thúc" })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="start_week">Tuần bắt đầu: </label>
        <div class="input-group">
            <input type="number" class="touchspin-min-max" id="start_week" name="start_week" value="1" aria-label="Nhập tuần bắt đầu" />
        </div>
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="start_date">Ngày bắt đầu: </label>
        <input type="text" class="form-control picker flatpickr-input" id="start_date" name="start_date" placeholder="Chọn ngày bắt đầu" aria-label="Chọn ngày bắt đầu" />
    </div>

    <div class="float-end m-1">
        <button type="button" class="btn btn-outline-secondary waves-effect me-1" id="btnClose">Huỷ</button>
        <button type="submit" class="btn btn-primary waves-effect waves-float waves-light">Lưu</button>
    </div>
}

<link href="~/app-assets/css/plugins/forms/form-validation.min.css" rel="stylesheet" />
<script src="~/assets/js/form-loader.min.js"></script>