@{
    ViewBag.Title = "Quản lý học kỳ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <h2>Quản lý học kỳ</h2>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic table -->
            <section>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="@Url.Action("Index", "Term")"><i class="feather feather-calendar"></i> Học kỳ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Index", "Major")"><i class="feather feather-list"></i> Ngành</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="card-datatable table-responsive pt-0">
                                        <table class="table" id="tblTerm">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Học kỳ</th>
                                                    <th>Năm bắt đầu</th>
                                                    <th>Năm kết thúc</th>
                                                    <th>Tuần bắt đầu</th>
                                                    <th>Ngày bắt đầu</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ Basic table -->
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/buttons.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css" />
<link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/pickers/form-flat-pickr.min.css" />

@section scripts {
    <script src="~/app-assets/vendors/js/extensions/moment.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/app-assets/vendors/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="~/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/js/faculty-board/term/term.min.js"></script>
}