<h4 class="text-center mt-3">Chưa có dữ liệu hệ số cho năm học này <i class="feather feather-help-circle"></i></h4>
<div class="card-body">
    <img class="mx-auto p-3 d-block w-50" alt="No data" src="~/assets/images/img_no_data.svg">
</div>