@model TeachingAssignmentManagement.Models.RankViewModels

@{
    var ranks = Model.AcademicDegreeRankDTOs;
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" aria-controls="home" role="tab" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" aria-controls="profile" role="tab" aria-selected="false">Service</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="about-tab" data-bs-toggle="tab" href="#about" aria-controls="about" role="tab" aria-selected="false">Account</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="home" aria-labelledby="home-tab" role="tabpanel">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col">Cấp bậc</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Hệ số tiếng Việt</th>
                        <th scope="col">Hệ số tiếng Anh</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rank in ranks)
                    {
                        var rankCoefficients = Model.StandardProgramDTOs.Where(item => item.AcademicDegreeRankId == rank.Id);
                        <tr>
                            <td>@rank.Id</td>
                            @if (rankCoefficients.Any())
                            {
                                foreach (var item in rankCoefficients)
                                {
                                    <td>@item.UnitPrice</td>
                                    <td>@item.VietnameseCoefficient</td>
                                    <td>@item.ForeignCoefficient</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="profile" aria-labelledby="profile-tab" role="tabpanel">
        <p>
            Dragée jujubes caramels tootsie roll gummies gummies icing bonbon. Candy jujubes cake cotton candy.
            Jelly-o lollipop oat cake marshmallow fruitcake candy canes toffee. Jelly oat cake pudding jelly beans
            brownie lemon drops ice cream halvah muffin. Brownie candy tiramisu macaroon tootsie roll danish.
        </p>
        <p>
            Croissant pie cheesecake sweet roll. Gummi bears cotton candy tart jelly-o caramels apple pie jelly
            danish marshmallow. Icing caramels lollipop topping. Bear claw powder sesame snaps.
        </p>
    </div>
    <div class="tab-pane" id="about" aria-labelledby="about-tab" role="tabpanel">
        <p>
            Gingerbread cake cheesecake lollipop topping bonbon chocolate sesame snaps. Dessert macaroon bonbon
            carrot cake biscuit. Lollipop lemon drops cake gingerbread liquorice. Sweet gummies dragée. Donut bear
            claw pie halvah oat cake cotton candy sweet roll. Cotton candy sweet roll donut ice cream.
        </p>
        <p>
            Halvah bonbon topping halvah ice cream cake candy. Wafer gummi bears chocolate cake topping powder.
            Sweet marzipan cheesecake jelly-o powder wafer lemon drops lollipop cotton candy.
        </p>
    </div>
</div>