<input type="hidden" id="data-loader" data-termid="@ViewData["TermId"]" />

<div class="card-datatable">
    <table class="datatables-ajax table" id="tblRemuneration">
        <thead class="table-light">
            <tr>
                <th></th>
                <th>Mã GV</th>
                <th>Tên GV</th>
                <th>Cấp bậc</th>
                <th>Thù lao</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
    </table>
</div>

<script src="~/assets/js/remuneration/remuneration.js"></script>