<input type="hidden" id="data-loader" data-termid="@ViewData["TermId"]" data-majorid="@ViewData["majorId"]" />

<div class="card-datatable">
    <table class="datatables-ajax table" id="tblSubject">
        <thead class="table-light">
            <tr>
                <th></th>
                <th>Mã môn học</th>
                <th>Tên môn học</th>
                <th>Số TC</th>
                <th>Ngành</th>
                <th>Ngôn ngữ</th>
                <th>Hệ số LT</th>
                <th>Hệ số TH</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<script src="~/assets/js/remuneration/subject-coefficient.min.js"></script>