@model TeachingAssignmentManagement.Models.rank_coefficient

@{
    Layout = null;
}

@using (Html.BeginForm("CreateRankCoefficient", "Remuneration", FormMethod.Post, new { onsubmit = "return submitForm(this)", id = "rankcoefficient-form" }))
{
    @Html.Hidden("type")
    @Html.Hidden("start_year")
    @Html.Hidden("end_year")

    <div class="mb-1">
        <label class="form-label font-small-4" for="academic_degree_rank_id">Cấp bậc: </label>
        @Html.Editor("academic_degree_rank_id", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>

    <div class="row mb-1">
        <div class="col-6">
            <label class="form-label font-small-4" for="vietnamese_coefficient">Hệ số tiếng Việt: </label>
            <div class="input-group">
                <input type="text" class="touchspin" id="vietnamese_coefficient" name="vietnamese_coefficient" value="1" data-bts-step="0.1" data-bts-decimals="2" aria-label="Nhập hệ số LT" />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label font-small-4" for="foreign_coefficient">Hệ số tiếng Anh: </label>
            <div class="input-group">
                <input type="text" class="touchspin" id="foreign_coefficient" name="foreign_coefficient" value="1" data-bts-step="0.1" data-bts-decimals="2" aria-label="Nhập hệ số TH" />
            </div>
        </div>
    </div>

    <div class="float-end m-1">
        <button type="button" class="btn btn-outline-secondary waves-effect me-1" id="btnClose">Huỷ</button>
        <button type="submit" class="btn btn-primary waves-effect waves-float waves-light">Lưu</button>
    </div>
}

<link href="~/app-assets/css/plugins/forms/form-validation.min.css" rel="stylesheet" />
<script src="~/assets/js/form-loader.js"></script>