@{
    Layout = null;
}

@using (Html.BeginForm("EditAllSubjects", "Remuneration", FormMethod.Post, new { onsubmit = "return submitForm(this)", id = "subject-form" }))
{
    @Html.Hidden("termId")
    @Html.Hidden("majorId")
    <div class="row my-1">
        <div class="col-6">
            <label class="form-label font-small-4" for="theoretical_coefficient">Hệ số LT: </label>
            <div class="input-group">
                <input type="text" class="touchspin" id="theoretical_coefficient" name="theoretical_coefficient" value="1" data-bts-step="0.1" data-bts-decimals="2" aria-label="Nhập hệ số LT" />
            </div>
        </div>
        <div class="col-6">
            <label class="form-label font-small-4" for="practice_coefficient">Hệ số TH: </label>
            <div class="input-group">
                <input type="text" class="touchspin" id="practice_coefficient" name="practice_coefficient" value="1" data-bts-step="0.1" data-bts-decimals="2" aria-label="Nhập hệ số TH" />
            </div>
        </div>
    </div>

    <div class="float-end m-1">
        <button type="button" class="btn btn-outline-secondary waves-effect me-1" id="btnClose">Huỷ</button>
        <button type="submit" class="btn btn-primary waves-effect waves-float waves-light">Lưu</button>
    </div>
}

<link href="~/app-assets/css/plugins/forms/form-validation.min.css" rel="stylesheet" />
<script src="~/assets/js/form-loader.js"></script>