@model TeachingAssignmentManagement.Models.lecturer

@{
    ViewBag.Title = "Cập nhật hồ sơ người dùng";
}

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper p-0">
        <div class="content-body">
            <section>
                <div class="card">
                    <div class="card-header pb-0">
                        <h4 class="card-title">Cập nhật hồ sơ người dùng</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-5 order-md-0 order-1">
                            <div class="card-body">
                                <!-- form -->
                                @using (Html.BeginForm("Update", "Account", FormMethod.Post, new { id = "profile-form" }))
                                {
                                    @Html.HiddenFor(model => model.id)
                                    <div class="mb-2">
                                        <label class="form-label font-small-4" for="staff_id">Mã giảng viên: </label>
                                        @Html.EditorFor(model => model.staff_id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập mã giảng viên", @aria_label = "Nhập mã giảng viên" } })
                                    </div>

                                    <div class="mb-2">
                                        <label class="form-label font-small-4" for="full_name">Tên giảng viên: </label>
                                        @Html.EditorFor(model => model.full_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên giảng viên", @aria_label = "Nhập tên giảng viên" } })
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100">Cập nhật</button>
                                }
                            </div>
                        </div>
                        <div class="col-md-7 order-md-1 order-0">
                            <div class="text-center">
                                <img class="img-fluid text-center" src="../../../app-assets/images/illustration/pricing-Illustration.svg" alt="illustration" width="310" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->

<link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/form-validation.min.css" />

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/js/form-loader.min.js"></script>
}