@{
    ViewBag.Title = "Trang chủ";
}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <h2>Trang chủ</h2>
            </div>
        </div>
        <div class="content-body">
            <!-- Home Starts -->
            <section>
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <h3 class="mt-3 ms-3">Chào <span class="text-primary">@User.Identity.Name</span>,<br />Chúc bạn có một ngày tốt lành <i class="feather feather-heart-on"></i></h3>
                            <div class="card-body">
                                <img class="mx-auto d-block w-50" alt="Welcome" src="@Url.Content("~/assets/images/img_welcome.svg")" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Home ends -->
        </div>
    </div>
</div>