@{
    Layout = null;
}

<div class="text-center">
    <h2 class="mb-1">Không thể tìm thấy yêu cầu 🕵🏻‍♀️</h2>
    <p>Oops! 😖 Yêu cầu của bạn không được tìm thấy.</p><button type="button" class="btn btn-primary btn-sm-block mb-1" onclick="location.reload()">Tải lại trang</button>
</div>