@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<div class="w-100 text-center">
    <h2 class="mb-1">Không thể tìm thấy yêu cầu 🕵🏻‍♀️</h2>
    <p class="mb-2">Oops! 😖 Yêu cầu của bạn không được tìm thấy.</p><button type="button" class="btn btn-primary mb-2 btn-sm-block" onclick="location.reload()">Tải lại trang</button><br /><img class="w-50" src="~/assets/images/img_error.svg" alt="Error page" />
</div>