@model TeachingAssignmentManagement.Models.major

@{
    Layout = null;
}

@using (Html.BeginForm("Edit", "Major", FormMethod.Post, new { onsubmit = "return submitForm(this)", id = "major-form" }))
{
    <div class="mb-1">
        <label class="form-label font-small-4" for="id">Mã ngành: </label>
        @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập mã ngành", @aria_label = "Nhập mã ngành", @disabled = "disabled" } })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="name">Tên ngành: </label>
        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên ngành", @aria_label = "Nhập tên ngành" } })
    </div>

    <div class="float-end m-1">
        <button type="button" class="btn btn-outline-secondary waves-effect me-1" id="btnClose">Huỷ</button>
        <button type="submit" class="btn btn-primary waves-effect waves-float waves-light">Lưu</button>
    </div>
}

<link href="~/app-assets/css/plugins/forms/form-validation.min.css" rel="stylesheet" />
<script src="~/assets/js/form-loader.min.js"></script>