@model TeachingAssignmentManagement.Models.lecturer

@{
    Layout = null;
}

@using (Html.BeginForm("Create", "User", FormMethod.Post, new { onsubmit = "return SubmitForm(this)", id = "user-form" }))
{
    <div class="mb-1">
        <label class="form-label font-small-4" for="staff_id">Mã giảng viên: </label>
        @Html.EditorFor(model => model.staff_id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập mã giảng viên", @aria_label = "Nhập mã giảng viên" } })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="full_name">Tên giảng viên: </label>
        @Html.EditorFor(model => model.full_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên giảng viên", @aria_label = "Nhập tên giảng viên" } })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="email">Email: </label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Nhập email" />
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="role_id">Role: </label>
        @Html.DropDownList("role_id", null, htmlAttributes: new { @class = "form-select" })
    </div>

    <div class="float-end m-1">
        <button type="button" class="btn btn-outline-secondary waves-effect me-1" id="btnClose">Huỷ</button>
        <button type="submit" class="btn btn-primary waves-effect waves-float waves-light">Lưu</button>
    </div>
}

<link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/form-validation.min.css" />
<script src="~/assets/js/form-validation.js"></script>