@model TeachingAssignmentManagement.Models.lecturer

@{
    Layout = null;
}

@using (Html.BeginForm("Create", "User", FormMethod.Post, new { onsubmit = "return SubmitForm(this)", id = "jquery-val-form" }))
{
    <div class="mb-1">
        <label class="form-label font-small-4" for="staff_id">Mã giảng viên: </label>
        @Html.EditorFor(model => model.staff_id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập mã giảng viên", @aria_label = "Nhập mã giảng viên" } })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="full_name">Tên giảng viên: </label>
        @Html.EditorFor(model => model.full_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập tên giảng viên", @aria_label = "Nhập tên giảng viên" } })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="email">Email: </label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Nhập email" />
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="role_id">Role: </label>
        @Html.DropDownList("role_id", null, htmlAttributes: new { @class = "form-select" })
    </div>

    <div class="float-end">
        <button type="submit" class="btn btn-success waves-effect waves-float waves-light">Lưu</button>
    </div>
}

<link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/form-validation.min.css" />

<script type="text/javascript">
    var jqForm = $('#jquery-val-form');
    var regexp = "^[A-Za-z0-9_@@./#&+-]*$";

    // Create custom regex check
    jQuery.validator.addMethod("idCheck", function (value, element) {
        var re = new RegExp(regexp);
        return this.optional(element) || re.test(value);
    });

    // Form validation
    if (jqForm.length) {
        jqForm.validate({
            rules: {
                staff_id: {
                    idCheck: true,
                    maxlength: 50
                },
                full_name: {
                    maxlength: 255
                },
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                staff_id: {
                    idCheck: "Chỉ được nhập chữ cái không dấu và không có khoảng trắng!",
                    maxlength: "Tối đa 50 kí tự được cho phép!"
                },
                full_name: {
                    maxlength: "Tối đa 255 kí tự được cho phép!"
                },
                email: {
                    required: "Vui lòng điền email!",
                    email: "Vui lòng nhập email hợp lệ!"
                }
            }
        });
    }
</script>