@model TeachingAssignmentManagement.Models.AspNetUser

@{
    Layout = null;
}

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.Id)

    <div class="mb-1">
        <label class="form-label font-small-4" for="Email">Email: </label>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>

    <div class="mb-1">
        <label class="form-label font-small-4" for="role_id">Role: </label>
        @Html.DropDownList("role_id", null, htmlAttributes: new { @class = "form-select" })
    </div>

    <div class="float-end">
        <button type="submit" class="btn btn-success waves-effect waves-float waves-light">Lưu</button>
    </div>
}