@model TeachingAssignmentManagement.Models.TimetableViewModels

<div class="table-responsive personal-timetable-div">
    <table class="table table-bordered personal-timetable" id="tblTimetable">
        <thead class="table-light">
            <tr class="text-center">
                <th>THỨ</th>
                @foreach (int day in Model.days)
                {
                    <th>THỨ @day</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (int startLesson in Model.startLessons)
            {
                <tr>
                    <td>@startLesson-@(startLesson + 2)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>hehe</td>
                    <td>hehe</td>
                    <td>hehe</td>
                </tr>
            }
        </tbody>
    </table>
</div>