@{
    ViewBag.Title = "Import thời khoá biểu";
}

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <h3>Import TKB</h3>
            </div>
        </div>
        <div class="content-body">
            <!-- Dropzone section start -->
            <section>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-md-6 mb-2">
                                        <label class="form-label font-small-4" for="term">Học kỳ: </label>
                                        @Html.DropDownList("term", null, "---- Chọn học kỳ ----", htmlAttributes: new { @class = "select2 form-select" })
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label class="form-label font-small-4" for="major">Ngành: </label>
                                        @Html.DropDownList("major", null, "---- Chọn ngành ----", htmlAttributes: new { @class = "select2 form-select" })
                                    </div>
                                </div>
                                <form action="#" class="dropzone dropzone-area" id="dpz-single-file">
                                    <div class="dz-message">Kéo thả hoặc nhấn chọn để upload.</div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Dropzone section end -->
        </div>
    </div>
</div>

@section styles {
    <link href="~/app-assets/vendors/css/file-uploaders/dropzone.css" rel="stylesheet" />
    <link href="~/app-assets/css/plugins/forms/form-file-uploader.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/app-assets/vendors/js/file-uploaders/dropzone-min.js"></script>
    <script src="~/app-assets/js/scripts/forms/form-file-uploader.js"></script>
    <script src="~/app-assets/language/select2/vi.min.js"></script>
    <script>
        var select = $('.select2');
        select.each(function () {
            var $this = $(this);
            $this.wrap('<div class="position-relative"></div>');
            $this.select2({
                language: 'vi',
                dropdownAutoWidth: true,
                dropdownParent: $this.parent(),
                placeholder: $this[0][0].innerHTML
            });
        })
    </script>
}