<input type="hidden" id="data-loader" data-termid="@ViewData["TermId"]" />

<div class="alert alert-primary mt-1" role="alert">
    <div class="alert-body"><b><i class="feather feather-help-circle"></i> Lưu ý: </b>Hệ thống chỉ hiển thị những giảng viên thỉnh giảng để phân cấp bậc.</div>
</div>
<div class="card-datatable">
    <table class="datatables-ajax table" id="tblLecturerRank">
        <thead class="table-light">
            <tr>
                <th></th>
                <th>Mã GV</th>
                <th>Tên GV</th>
                <th>Cấp bậc</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<script src="~/assets/js/remuneration/lecturer-rank.min.js"></script>