.assign-card {
    transition: all .3s ease-in-out,background 0s,color 0s,border-color 0s;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

    .assign-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 25px 0 rgba(34, 41, 47, 0.25);
    }

.assign-table {
    max-height: 75vh;
    overflow: scroll;
}

    .assign-table th:first-child {
        position: sticky;
        left: 0px;
        z-index: 1;
    }

    .assign-table td:first-child {
        position: sticky;
        left: 0px;
        background-color: #f3f2f7;
        color: #22292f;
        font-weight: bold;
        z-index: 1;
    }

thead {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    z-index: 2;
}

    thead th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 0;
    }

    thead th {
        left: 0;
    }

.modal-header .btn-close {
    padding: .8rem;
    box-shadow: 0 5px 20px 0 rgb(34 41 47 / 10%);
    border-radius: .357rem;
    background-color: #FFF;
    opacity: 1;
    -webkit-transition: all .23s ease .1s;
    transition: all .23s ease .1s;
    position: relative;
    -webkit-transform: translate(18px,-10px);
    -ms-transform: translate(18px,-10px);
    transform: translate(18px,-10px);
}

.modal-header .btn-close:hover {
    opacity: 1;
    outline: 0;
    -webkit-transform: translate(15px,-2px);
    -ms-transform: translate(15px,-2px);
    transform: translate(15px,-2px);
    box-shadow: none;
}