.assign-table {
    max-height: 75vh;
    overflow: scroll;
}

    .assign-table th:first-child {
        position: sticky;
        left: 0px;
        z-index: 1;
    }

    .assign-table td:first-child {
        position: sticky;
        left: 0px;
        background-color: #f3f2f7;
        color: #22292f;
        font-weight: bold;
        z-index: 1;
    }

.dark-layout .assign-table td:first-child {
    background-color: #343d55;
    color: #22292f;
}

thead {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    z-index: 2;
}

    thead th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 0;
    }

    thead th {
        left: 0;
    }

.modal-header .btn-close {
    padding: .8rem;
    box-shadow: 0 5px 20px 0 rgb(34 41 47 / 10%);
    border-radius: .357rem;
    background-color: #FFF;
    opacity: 1;
    -webkit-transition: all .23s ease .1s;
    transition: all .23s ease .1s;
    position: relative;
    -webkit-transform: translate(18px,-10px);
    -ms-transform: translate(18px,-10px);
    transform: translate(18px,-10px);
}

.modal-header .btn-close:hover {
    opacity: 1;
    outline: 0;
    -webkit-transform: translate(15px,-2px);
    -ms-transform: translate(15px,-2px);
    transform: translate(15px,-2px);
    box-shadow: none;
}

.dark-layout .modal-header .btn-close {
    text-shadow: none;
    background-color: #283046 !important;
    color: #B4B7BD;
    box-shadow: 0 3px 8px 0 rgba(11,10,25,.49) !important;
    background-image: url('data:image/svg+xml,<svg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 16 16\' fill=\'%23b4b7bd\'><path d=\'M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z\'/></svg>');
}

.assign-table .table-vertical-divider {
    border-left: 2px solid black !important;
}

.dark-layout .assign-table .table-vertical-divider {
    border-left: 2px solid white !important;
}